# Preprocessing for sales recommendations

## Loading the data

In [1]:
import numpy as np
from mba.data import (
    get_ffp_train_df,
    get_ffp_rollout_df,
    get_reviews_train_df_fpath,
    get_reviews_rollout_df_fpath,
)

In [2]:
raw_tdf = get_ffp_train_df()

In [3]:
raw_tdf

,ID,OTHER_SITE_VALUE,STATUS_PANTINUM,STATUS_GOLD,STATUS_SILVER,NUM_DEAL,LAST_DEAL,ADVANCE_PURCHASE,FARE_L_Y1,FARE_L_Y2,...,POINTS_L_Y1,POINTS_L_Y2,POINTS_L_Y3,POINTS_L_Y4,POINTS_L_Y5,SERVICE_FLAG,CANCEL_FLAG,CREDIT_FLAG,RECSYS_FLAG,BUYER_FLAG
0,1,13.140434,0,0,0,0,0,16,36.8,37.0,...,34.6,47.1,34.7,26.0,42.6,0,0,0,0,0
1,2,9.091326,0,0,0,3,16,18,45.2,47.2,...,50.7,42.9,41.1,50.9,30.4,0,0,0,0,0
2,3,6.742492,0,0,0,5,5,17,29.0,24.8,...,33.9,40.0,37.5,38.5,24.5,0,0,0,0,0
3,4,11.829185,0,0,0,3,14,19,47.8,47.0,...,47.6,57.4,51.5,30.0,31.6,0,0,0,0,0
4,5,7.464712,0,1,0,3,28,26,81.8,81.2,...,81.3,85.2,77.8,82.2,95.4,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,39996,7.281724,0,0,0,5,8,22,40.0,37.5,...,20.6,26.3,31.0,24.8,31.9,0,0,0,0,0
39996,39997,3.450719,0,0,0,11,0,14,28.0,36.5,...,42.7,37.0,28.4,27.4,36.8,0,1,0,0,0
39997,39998,7.282398,0,0,0,6,8,12,46.5,44.8,...,38.5,40.2,48.9,48.3,59.8,0,0,0,0,0
39998,39999,7.934329,0,0,1,1,55,30,52.5,56.0,...,71.2,70.8,82.8,60.3,68.7,0,0,0,0,0
39999,40000,5.462166,0,0,0,6,8,20,44.5,42.8,...,46.0,50.8,37.1,40.5,47.4,0,0,0,0,0

In [4]:
raw_tdf.columns

Index(['ID', 'OTHER_SITE_VALUE', 'STATUS_PANTINUM', 'STATUS_GOLD',
       'STATUS_SILVER', 'NUM_DEAL', 'LAST_DEAL', 'ADVANCE_PURCHASE',
       'FARE_L_Y1', 'FARE_L_Y2', 'FARE_L_Y3', 'FARE_L_Y4', 'FARE_L_Y5',
       'POINTS_L_Y1', 'POINTS_L_Y2', 'POINTS_L_Y3', 'POINTS_L_Y4',
       'POINTS_L_Y5', 'SERVICE_FLAG', 'CANCEL_FLAG', 'CREDIT_FLAG',
       'RECSYS_FLAG', 'BUYER_FLAG'],
      dtype='object')

In [5]:
raw_tdf.columns[0]

'ID'

## Building the pipeline

In [6]:
from mba.shared import (
    Column,
    ContextKey,
)

In [7]:
from mba.pipeline import build_pipeline

In [8]:
pline = build_pipeline()

Starting to build the preprocessing pipeline...
Building the sentiment predictor...
Transformation Pipeline and Model Successfully Loaded
Done.
Building pipeline stages...
Done. Returning pipeline.

In [9]:
pline

A pdpipe pipeline:
[ 0]  Apply dataframe method set_index with kwargs {'keys': 'ID'}
[ 1]  Add the sentiment columns to input dataframes

In [10]:
tdf = pline.fit_transform(
    X=raw_tdf,
    verbose=True,
    context={
        ContextKey.REVIEWS_FPATH: get_reviews_train_df_fpath(),
    },
)

- set_index: Apply dataframe method set_index with kwargs {'keys': 'ID'}
- Add the sentiment columns to input dataframes
  - 1994 id intersection between input & reviewes.
  - None-NA sentiment features adde to 1994 rows.

In [11]:
tdf

,OTHER_SITE_VALUE,STATUS_PANTINUM,STATUS_GOLD,STATUS_SILVER,NUM_DEAL,LAST_DEAL,ADVANCE_PURCHASE,FARE_L_Y1,FARE_L_Y2,FARE_L_Y3,FARE_L_Y4,FARE_L_Y5,POINTS_L_Y1,POINTS_L_Y2,POINTS_L_Y3,POINTS_L_Y4,POINTS_L_Y5,SERVICE_FLAG,CANCEL_FLAG,CREDIT_FLAG,RECSYS_FLAG,BUYER_FLAG,sentiment_0,sentiment_1
ID,,,,,,,,,,,,,,,,,,,,,,,,
1,13.140434,0,0,0,0,0,16,36.8,37.0,37.8,35.0,34.8,34.6,47.1,34.7,26.0,42.6,0,0,0,0,0,0.0,0.0
2,9.091326,0,0,0,3,16,18,45.2,47.2,45.5,44.2,42.8,50.7,42.9,41.1,50.9,30.4,0,0,0,0,0,0.0,0.0
3,6.742492,0,0,0,5,5,17,29.0,24.8,30.8,31.5,29.8,33.9,40.0,37.5,38.5,24.5,0,0,0,0,0,0.0,0.0
4,11.829185,0,0,0,3,14,19,47.8,47.0,45.2,41.0,35.8,47.6,57.4,51.5,30.0,31.6,0,0,0,0,0,0.0,0.0
5,7.464712,0,1,0,3,28,26,81.8,81.2,80.5,82.2,83.5,81.3,85.2,77.8,82.2,95.4,0,1,0,1,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39996,7.281724,0,0,0,5,8,22,40.0,37.5,29.5,27.2,31.2,20.6,26.3,31.0,24.8,31.9,0,0,0,0,0,0.0,0.0
39997,3.450719,0,0,0,11,0,14,28.0,36.5,32.0,31.2,32.2,42.7,37.0,28.4,27.4,36.8,0,1,0,0,0,0.0,0.0
39998,7.282398,0,0,0,6,8,12,46.5,44.8,45.8,45.2,44.5,38.5,40.2,48.9,48.3,59.8,0,0,0,0,0,0.0,0.0
39999,7.934329,0,0,1,1,55,30,52.5,56.0,54.5,55.2,55.0,71.2,70.8,82.8,60.3,68.7,0,0,0,0,0,0.0,0.0
40000,5.462166,0,0,0,6,8,20,44.5,42.8,42.8,42.2,44.8,46.0,50.8,37.1,40.5,47.4,0,0,0,0,0,0.0,0.0

In [12]:
tdf.BUYER_FLAG.value_counts()

0    36328
1     3672
Name: BUYER_FLAG, dtype: int64

## Play with pycaret

In [13]:
from pycaret.classification import (
    setup,
    compare_models,
    create_model,
    tune_model,
    blend_models,
    predict_model,
    finalize_model,
    save_model,
    load_model,
    get_metrics,
    add_metric,
)
from sklearn.metrics import (
    accuracy_score, roc_auc_score, recall_score, precision_score, f1_score,
    confusion_matrix,
)

In [14]:
num_columns = [x for x in tdf.columns if x != Column.BUYER_FLAG]

In [15]:
clf_handle = setup(
    data = tdf,
    target = Column.BUYER_FLAG,
    train_size=0.8,
    session_id=42,
    numeric_features=num_columns,
    normalize=True,
    remove_perfect_collinearity=True,
    data_split_stratify=True,
    silent=True,
    fix_imbalance=True,
)

In [16]:
y_true = np.array([1, 1, 1, 0])
y_pred = np.array([1, 0, 0, 1])

In [17]:
TP_REVENUE = 32.7
FP_REVENUE = -6.05


def p_count(y_true, y_pred):
    return sum(y_true==1)

def n_count(y_true, y_pred):
    return sum(np.where((y_true==0), 1, 0))

def tp(y_true, y_pred):
    return sum(np.where((y_pred==1) & (y_true==1), 1, 0))

def fp(y_true, y_pred):
    return sum(np.where((y_pred==1) & (y_true==0), 1, 0))

def tn(y_true, y_pred):
    return sum(np.where((y_pred==0) & (y_true==0), 1, 0))

def fn(y_true, y_pred):
    return sum(np.where((y_pred==0) & (y_true==1), 1, 0))

def revenue_score(y_true, y_pred):
    tp_count = tp(y_true, y_pred)
    fp_count = fp(y_true, y_pred)
    return tp_count * TP_REVENUE + fp_count * FP_REVENUE

In [18]:
add_metric(
    id='p_count',
    name='P',
    score_func=p_count,
    target='pred',
    greater_is_better=True,
    multiclass=False,
)
add_metric(
    id='n_count',
    name='N',
    score_func=n_count,
    target='pred',
    greater_is_better=True,
    multiclass=False,
)
add_metric(
    id='revenue_score',
    name='Total Revenue',
    score_func=revenue_score,
    target='pred',
    greater_is_better=True,
    multiclass=False,
)
add_metric(
    id='tp',
    name='TP',
    score_func=tp,
    target='pred',
    greater_is_better=True,
    multiclass=False,
)
add_metric(
    id='fp',
    name='FP',
    score_func=fp,
    target='pred',
    greater_is_better=False,
    multiclass=False,
)
add_metric(
    id='tn',
    name='TN',
    score_func=tn,
    target='pred',
    greater_is_better=True,
    multiclass=False,
)
add_metric(
    id='fn',
    name='FN',
    score_func=fn,
    target='pred',
    greater_is_better=False,
    multiclass=False,
)

Name                                                       FN
Display Name                                               FN
Score Function                   <function fn at 0x14cf923a0>
Scorer               make_scorer(fn, greater_is_better=False)
Target                                                   pred
Args                                                       {}
Greater is Better                                       False
Multiclass                                              False
Custom                                                   True
Name: fn, dtype: object

In [19]:
top3 = compare_models(n_select=3, sort='revenue_score')

In [20]:
def _sanity_check_all_ones_revenue(P, N):
    return P * TP_REVENUE + N * FP_REVENUE

In [21]:
_sanity_check_all_ones_revenue(P = 136 + 157, N=268+2639)

-8006.249999999998

In [22]:
gbc = create_model('gbc')

In [27]:
gbc_res = predict_model(gbc)

In [23]:
blender_top3 = blend_models(top3)

In [28]:
blender_res = predict_model(blender_top3)

In [29]:
blender_res

,OTHER_SITE_VALUE,STATUS_PANTINUM,STATUS_GOLD,STATUS_SILVER,NUM_DEAL,LAST_DEAL,ADVANCE_PURCHASE,FARE_L_Y1,FARE_L_Y2,FARE_L_Y3,...,POINTS_L_Y5,SERVICE_FLAG,CANCEL_FLAG,CREDIT_FLAG,RECSYS_FLAG,sentiment_0,sentiment_1,BUYER_FLAG,Label,Score
0,0.810761,-0.091728,-0.218411,-0.539830,-0.500711,-0.083284,-0.145404,-0.821989,-1.067224,-0.822561,...,-0.342018,-0.232269,-0.329501,-0.083392,-0.375206,-0.176617,-0.144556,0,0,0.7353
1,0.478291,-0.091728,-0.218411,-0.539830,-0.999831,0.256552,-0.145404,-0.728102,-0.824952,-1.064752,...,-1.184523,-0.232269,-0.329501,-0.083392,-0.375206,-0.176617,-0.144556,0,0,0.7398
2,0.655939,-0.091728,-0.218411,1.852436,-0.999831,1.955734,0.278997,1.860490,1.961184,2.029913,...,1.040402,-0.232269,-0.329501,-0.083392,-0.375206,-0.176617,-0.144556,0,0,0.7262
3,-1.223001,-0.091728,-0.218411,-0.539830,-0.500711,-0.338161,-0.569805,-0.151369,-0.528841,-0.640917,...,-0.905666,-0.232269,-0.329501,-0.083392,-0.375206,-0.176617,-0.144556,0,0,0.7125
4,-0.158672,-0.091728,-0.218411,-0.539830,-0.001591,-0.508079,-0.782005,-0.661040,-0.609598,-0.741830,...,-1.528645,-0.232269,-0.329501,-0.083392,-0.375206,-0.176617,-0.144556,0,0,0.7598
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,-1.188774,-0.091728,-0.218411,-0.539830,-1.498951,1.530939,-0.782005,-0.821989,-0.878790,-0.889836,...,-1.427781,-0.232269,-0.329501,-0.083392,-0.375206,-0.176617,-0.144556,0,0,0.7040
7996,-2.140656,-0.091728,-0.218411,1.852436,-0.500711,0.086634,-0.569805,0.029698,0.117220,-0.015257,...,0.251295,-0.232269,-0.329501,-0.083392,2.665205,-0.176617,-0.144556,0,0,0.6986
7997,0.421767,-0.091728,-0.218411,-0.539830,-0.001591,-0.593038,-0.357604,-1.090236,-0.946088,-0.943656,...,-1.564243,-0.232269,-0.329501,-0.083392,-0.375206,-0.176617,-0.144556,0,0,0.7378
7998,-1.315843,-0.091728,-0.218411,-0.539830,1.994890,-0.762956,-0.145404,0.116879,0.231626,0.099111,...,0.091101,-0.232269,-0.329501,-0.083392,-0.375206,-0.176617,-0.144556,0,0,0.6178
7999,1.527791,-0.091728,-0.218411,1.852436,-0.999831,0.426471,0.066797,-0.419617,-0.219270,-0.190173,...,0.174165,-0.232269,-0.329501,-0.083392,2.665205,-0.176617,-0.144556,0,0,0.7184

In [31]:
sktuned_gbc = tune_model(
    gbc,
    fold=8,
    n_iter=10,
    optimize='revenue_score',
)

In [33]:
sktuned_gbc

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.0001, loss='deviance', max_depth=9,
                           max_features='sqrt', max_leaf_nodes=None,
                           min_impurity_decrease=0.3, min_impurity_split=None,
                           min_samples_leaf=5, min_samples_split=5,
                           min_weight_fraction_leaf=0.0, n_estimators=260,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=42, subsample=0.35, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [34]:
sktuned_gbc_res = predict_model(sktuned_gbc)

In [32]:
tuned_gbc = tune_model(
    gbc,
    fold=8,
    n_iter=10,
    optimize='revenue_score',
    search_library='optuna',
    early_stopping='Hyperband',
)

IntProgress(value=0, description='Processing: ', max=7)

Initiated  . . . . . . . . . . . . . . . . . .                      12:05:39
Status     . . . . . . . . . . . . . . . . . .     Searching Hyperparameters
Estimator  . . . . . . . . . . . . . . . . . .  Gradient Boosting Classifier

Empty DataFrame
Columns: [Accuracy, AUC, Recall, Prec., F1, Kappa, MCC, P, N, Total Revenue, TP, FP, TN, FN]
Index: []

[I 2022-01-27 12:05:40,082] Searching the best hyperparameters using 32000 samples...

KeyboardInterrupt:

In [ ]:
tuned_gbc

In [ ]:
tuned_gbc_res = predict_model(tuned_gbc)