In [2]:
from mba.sentiment import get_sentiment_predictor, train_sentiment_model_and_save_to_disk

In [3]:
train_sentiment_model_and_save_to_disk()

accuracy_score
0.855
roc_auc_score
0.8325977301387137
recall_score
0.9344262295081968
precision_score
0.8444444444444444
f1_score
0.88715953307393
Transformation Pipeline and Model Successfully Saved

In [4]:
sp = get_sentiment_predictor()

Transformation Pipeline and Model Successfully Loaded

In [5]:
sp

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('/Users/shaypalachy/clones/mba/data/reviews_training.csv')

In [8]:
df

         ID  continu  name  perhap  gotten  ...  product  sinc  was  look  onto
0        14        0     0       0       0  ...        0     0    0     0     0
1        31        0     0       0       0  ...        1     0    0     0     0
2        88        0     0       0       0  ...        1     0    0     0     0
3       114        0     0       0       0  ...        2     0    0     0     0
4       121        0     0       0       0  ...        0     0    2     0     0
...     ...      ...   ...     ...     ...  ...      ...   ...  ...   ...   ...
1989  39926        0     0       0       0  ...        0     0    0     0     0
1990  39930        0     0       0       0  ...        0     0    0     0     0
1991  39949        1     0       0       0  ...        1     0    2     0     0
1992  39953        0     0       0       0  ...        0     0    0     0     0
1993  39959        0     0       0       0  ...        0     0    0     0     0

[1994 rows x 2001 columns]

In [9]:
df['sentiment'] = sp.predict(df)

In [10]:
df

         ID  continu  name  perhap  gotten  ...  sinc  was  look  onto  sentiment
0        14        0     0       0       0  ...     0    0     0     0          1
1        31        0     0       0       0  ...     0    0     0     0          1
2        88        0     0       0       0  ...     0    0     0     0          0
3       114        0     0       0       0  ...     0    0     0     0          0
4       121        0     0       0       0  ...     0    2     0     0          0
...     ...      ...   ...     ...     ...  ...   ...  ...   ...   ...        ...
1989  39926        0     0       0       0  ...     0    0     0     0          0
1990  39930        0     0       0       0  ...     0    0     0     0          0
1991  39949        1     0       0       0  ...     0    2     0     0          0
1992  39953        0     0       0       0  ...     0    0     0     0          1
1993  39959        0     0       0       0  ...     0    0     0     0          1

[1994 rows x 2002 columns]

In [13]:
subdf = df[['ID', 'sentiment']]
subdf

         ID  sentiment
0        14          1
1        31          1
2        88          0
3       114          0
4       121          0
...     ...        ...
1989  39926          0
1990  39930          0
1991  39949          0
1992  39953          1
1993  39959          1

[1994 rows x 2 columns]

In [16]:
dumm = pd.get_dummies(subdf['sentiment'])
dumm.head()

   0  1
0  0  1
1  0  1
2  1  0
3  1  0
4  1  0

In [17]:
subdf['sentiment_0'] = dumm[0]
subdf['sentiment_1'] = dumm[1]

In [18]:
subdf.head()

    ID  sentiment  sentiment_0  sentiment_1
0   14          1            0            1
1   31          1            0            1
2   88          0            1            0
3  114          0            1            0
4  121          0            1            0

In [19]:
subdf = subdf.set_index('ID')
subdf

       sentiment  sentiment_0  sentiment_1
ID
14             1            0            1
31             1            0            1
88             0            1            0
114            0            1            0
121            0            1            0
...          ...          ...          ...
39926          0            1            0
39930          0            1            0
39949          0            1            0
39953          1            0            1
39959          1            0            1

[1994 rows x 3 columns]

In [20]:
subdf = subdf.drop('sentiment', axis=1)
subdf

       sentiment_0  sentiment_1
ID
14               0            1
31               0            1
88               1            0
114              1            0
121              1            0
...            ...          ...
39926            1            0
39930            1            0
39949            1            0
39953            0            1
39959            0            1

[1994 rows x 2 columns]

In [21]:
tdf = pd.read_csv('/Users/shaypalachy/clones/mba/data/ffp_train.csv')

In [22]:
tdf

          ID  OTHER_SITE_VALUE  ...  RECSYS_FLAG  BUYER_FLAG
0          1         13.140434  ...            0           0
1          2          9.091326  ...            0           0
2          3          6.742492  ...            0           0
3          4         11.829185  ...            0           0
4          5          7.464712  ...            1           0
...      ...               ...  ...          ...         ...
39995  39996          7.281724  ...            0           0
39996  39997          3.450719  ...            0           0
39997  39998          7.282398  ...            0           0
39998  39999          7.934329  ...            0           0
39999  40000          5.462166  ...            0           0

[40000 rows x 23 columns]

In [23]:
tdf = tdf.set_index('ID')
tdf.head()

    OTHER_SITE_VALUE  STATUS_PANTINUM  ...  RECSYS_FLAG  BUYER_FLAG
ID                                     ...
1          13.140434                0  ...            0           0
2           9.091326                0  ...            0           0
3           6.742492                0  ...            0           0
4          11.829185                0  ...            0           0
5           7.464712                0  ...            1           0

[5 rows x 22 columns]

In [25]:
jdf = tdf.join(subdf)
jdf.head()

    OTHER_SITE_VALUE  STATUS_PANTINUM  ...  sentiment_0  sentiment_1
ID                                     ...
1          13.140434                0  ...          NaN          NaN
2           9.091326                0  ...          NaN          NaN
3           6.742492                0  ...          NaN          NaN
4          11.829185                0  ...          NaN          NaN
5           7.464712                0  ...          NaN          NaN

[5 rows x 24 columns]

In [28]:
jdf.shape

(40000, 24)

In [29]:
jdf = jdf.fillna(0)

In [30]:
jdf.head()

    OTHER_SITE_VALUE  STATUS_PANTINUM  ...  sentiment_0  sentiment_1
ID                                     ...
1          13.140434                0  ...          0.0          0.0
2           9.091326                0  ...          0.0          0.0
3           6.742492                0  ...          0.0          0.0
4          11.829185                0  ...          0.0          0.0
5           7.464712                0  ...          0.0          0.0

[5 rows x 24 columns]

In [31]:
jdf.isna().sum()

OTHER_SITE_VALUE    0
STATUS_PANTINUM     0
STATUS_GOLD         0
STATUS_SILVER       0
NUM_DEAL            0
LAST_DEAL           0
ADVANCE_PURCHASE    0
FARE_L_Y1           0
FARE_L_Y2           0
FARE_L_Y3           0
FARE_L_Y4           0
FARE_L_Y5           0
POINTS_L_Y1         0
POINTS_L_Y2         0
POINTS_L_Y3         0
POINTS_L_Y4         0
POINTS_L_Y5         0
SERVICE_FLAG        0
CANCEL_FLAG         0
CREDIT_FLAG         0
RECSYS_FLAG         0
BUYER_FLAG          0
sentiment_0         0
sentiment_1         0
dtype: int64