# Training the sentiment classifier

## Load the data

In [1]:
from mba.data import (
    get_text_train_df,
    get_text_rollout_df,
)

In [2]:
train_df = get_text_train_df()

In [3]:
train_df

,ID,continu,name,perhap,gotten,compliment,appli,fail,treat,slight,...,solut,normal,corner,gourmet,product,sinc,was,look,onto,rating
0,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,2,1,0,1
1,2,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,0,1
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1996,1997,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,1
1997,1998,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,3,0,1,0,1
1998,1999,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
1999,2000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [4]:
train_df['rating'].value_counts()

1    1222
0     778
Name: rating, dtype: int64

In [5]:
train_df = train_df.drop('ID', axis=1)
train_df.head(3)

,continu,name,perhap,gotten,compliment,appli,fail,treat,slight,picki,...,solut,normal,corner,gourmet,product,sinc,was,look,onto,rating
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,2,1,0,1
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [6]:
X = train_df.drop(['rating'], axis=1)
X.head(3)

,continu,name,perhap,gotten,compliment,appli,fail,treat,slight,picki,...,veri,solut,normal,corner,gourmet,product,sinc,was,look,onto
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,2,1,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Check this will work with review data

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('/Users/shaypalachy/clones/mba/data/reviews_training.csv')

In [9]:
df = df.drop('ID', axis=1)

In [10]:
df.head(3)

,continu,name,perhap,gotten,compliment,appli,fail,treat,slight,picki,...,veri,solut,normal,corner,gourmet,product,sinc,was,look,onto
0,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [11]:
list(df.columns) == list(X.columns)

True

In [12]:
# X.columns

In [13]:
# y = train_df['rating']

In [14]:
# y.value_counts()

In [15]:
# from sklearn.model_selection import train_test_split

In [16]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Selecting a model with pycaret

In [30]:
from pycaret.classification import setup, compare_models, predict_model, finalize_model, tune_model, create_model
from imblearn.over_sampling import RandomOverSampler, SMOTENC

In [20]:
# setup?

In [21]:
clf_handle = setup(
    data = train_df,
    target = 'rating',
    train_size=0.8,
    session_id=123,
    numeric_features=list(X.columns),
    normalize=True,
    remove_perfect_collinearity=True,
    data_split_stratify=True,
    silent=True,
    fix_imbalance=True,
    fix_imbalance_method=RandomOverSampler(),
)

In [ ]:
# compare_models?

In [22]:
top3 = compare_models(n_select=3, sort='Kappa')

In [23]:
print(top3)

[ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0, class_weight=None,
                     criterion='gini', max_depth=None, max_features='auto',
                     max_leaf_nodes=None, max_samples=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=1, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
                     oob_score=False, random_state=123, verbose=0,
                     warm_start=False), <catboost.core.CatBoostClassifier object at 0x1509cee20>, LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=123, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)]

In [24]:
# from pycaret.classification import create_model

In [25]:
# # train individual models to blend
# lightgbm = create_model('lightgbm', verbose = False)
# et = create_model('et', verbose = False)
# lr = create_model('lr', verbose = False)

# Blending models

In [26]:
from pycaret.classification import blend_models

In [27]:
# blend individual models
# blend_soft = blend_models(estimator_list = [lightgbm, et, lr], method = 'soft')

In [28]:
blender_top3 = blend_models(top3)

In [31]:
res = predict_model(blender_top3)

# ET

In [29]:
et = top3[0]
et

ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0, class_weight=None,
                     criterion='gini', max_depth=None, max_features='auto',
                     max_leaf_nodes=None, max_samples=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=1, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
                     oob_score=False, random_state=123, verbose=0,
                     warm_start=False)

In [32]:
sktuned_et = tune_model(
    et,
    fold=10,
    n_iter=12,
    optimize='Kappa',
)

In [33]:
sktuned_et

ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0,
                     class_weight='balanced_subsample', criterion='gini',
                     max_depth=4, max_features='sqrt', max_leaf_nodes=None,
                     max_samples=None, min_impurity_decrease=0.0005,
                     min_impurity_split=None, min_samples_leaf=3,
                     min_samples_split=5, min_weight_fraction_leaf=0.0,
                     n_estimators=260, n_jobs=-1, oob_score=False,
                     random_state=123, verbose=0, warm_start=False)

In [34]:
sktuned_et_res = predict_model(sktuned_et)

## LGBM

In [39]:
lgbm = create_model('lightgbm')
lgbm

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=123, reg_alpha=0.0, reg_lambda=0.0, silent='warn',
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [40]:
sktuned_lgbm = tune_model(
    lgbm,
    fold=10,
    n_iter=12,
    optimize='Kappa',
)

In [41]:
sktuned_lgbm

LGBMClassifier(bagging_fraction=0.9, bagging_freq=3, boosting_type='gbdt',
               class_weight=None, colsample_bytree=1.0, feature_fraction=0.5,
               importance_type='split', learning_rate=0.4, max_depth=-1,
               min_child_samples=6, min_child_weight=0.001, min_split_gain=0.3,
               n_estimators=20, n_jobs=-1, num_leaves=150, objective=None,
               random_state=123, reg_alpha=0.005, reg_lambda=0.0005,
               silent='warn', subsample=1.0, subsample_for_bin=200000,
               subsample_freq=0)

In [42]:
sktuned_lgbm_res = predict_model(sktuned_lgbm)

# Others

In [ ]:
from pycaret.classification import get_metrics

In [ ]:
get_metrics()

In [ ]:
from sklearn.metrics import accuracy_score, roc_auc_score, recall_score, precision_score, f1_score, auc, roc_curve

In [ ]:
y_true = res['rating']
y_pred = res['Label']

In [ ]:
for metric in (accuracy_score, roc_auc_score, recall_score, precision_score, f1_score):
    print(metric.__name__)
    print(metric(y_true, y_pred))

In [ ]:
# predict_model?

In [ ]:
final_blended = finalize_model(blender_top3)

In [ ]:
from pycaret.classification import plot_model

In [ ]:
plot_model(blender_top3, plot = 'auc')

In [ ]:
from pycaret.classification import save_model

In [ ]:
# save_model?

In [ ]:
from pycaret.classification import save_model

In [ ]:
# et = create_model('et')

In [ ]:
# from pycaret.classification import tune_model

In [ ]:
# tuned_et = tune_model(et)

In [ ]:
# from pycaret.classification import plot_model

In [ ]:
# plot_model(et, plot = 'auc')

In [ ]:
# plot_model(tuned_et, plot = 'auc')

In [ ]:
# from pycaret.classification import predict_model, finalize_model

In [ ]:
# predict_model(tuned_et);

In [ ]:
# predict_model(et);

In [ ]:
# final_et = finalize_model(et)

In [ ]:
# final_et